
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Claim Closure
      </h1>
      <p>Create a digital channel for a citizen to close their claim.</p>

      <h3 class="govuk-heading-m">
        Found work journey
      </h3>
      <h4 class="govuk-heading-s">
        February 2022
      </h4>
      <ul class="govuk-list">
        <li>
          <a href="claim-closure/v1/start">Start screen</a> - version 1
        </li>
        <!-- <li>
          <a href="claim-closure/v2/start">Start screen</a> - Version 2
        </li> -->
      </ul>


    </div>
  </div>

{% endblock %}
