
{% extends "layout-cc.html" %}

{% block pageTitle %}
Are you being paid for this job? – Service name
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="no-more-than-16" method="post" novalidate>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Will you earn more than
                    {% if data['benefit-type']=="Jobseeker's Allowance" %}
                      &pound;{% if data['dob-year']>="1997" %}64.20{% endif %}{% if data['dob-year']<"1997" %}79.70{% endif %}{% endif %}

                    {% if data['benefit-type']=="Employment and Support Allowance" %}&pound;143{% endif %}
                  per week?
                </h1>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="are-you-being-paid" name="are-you-being-paid" type="radio" value="Yes" {{ checked("are-you-being-paid", "Yes") }}>
                  <label class="govuk-label govuk-radios__label" for="are-you-being-paid">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="are-you-being-paid-2" name="are-you-being-paid" type="radio" value="No" {{ checked("are-you-being-paid", "No") }}>
                  <label class="govuk-label govuk-radios__label" for="are-you-being-paid-2">
                    No
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="are-you-being-paid-3" name="are-you-being-paid" type="radio" value="No" {{ checked("are-you-being-paid", "I don't know") }}>
                  <label class="govuk-label govuk-radios__label" for="are-you-being-paid-3">
                    I don't know
                  </label>
                </div>
              </div>

            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>

{% endblock %}
