
{% extends "layout-cc.html" %}

{% block pageTitle %}
  How many hours will you be working? – Service name
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="more-than-5-weeks" method="post" novalidate>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  How many hours will you be working?
                </h1>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="hours" name="hours" type="radio" value="16 hours or more" {{ checked("hours", "16 hours or more") }}>
                  <label class="govuk-label govuk-radios__label" for="hours">
                    16 hours or more
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="hours-2" name="hours" type="radio" value="Under 16 hours" {{ checked("hours", "Under 16 hours") }}>
                  <label class="govuk-label govuk-radios__label" for="hours-2">
                    Under 16 hours
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="hours-3" name="hours" type="radio" value="I don't know" {{ checked("hours", "I don't know") }}>
                  <label class="govuk-label govuk-radios__label" for="hours-3">
                    I don't know
                  </label>
                </div>
              </div>

            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>

{% endblock %}
