
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Working Age Transformation - Manage
      </h1>

      <h3 class="govuk-heading-l">
        Manage team vision
      </h3>
      <p>To deliver a service that transforms the activities and relationships of citizens and colleagues when managing a post application, contributory benefit. This will be achieved by using a digital approach, eliminating waste and removing high dependencies on clerical processes.</p>
      <p>Our user-centred approach will put citizens at the core of what we do, allowing them to take ownership of their claim while using an inclusive and accessible service.</p>
      <p>For staff, we will empower and support them, further enabling them to support citizen’s needs. With these improvements, citizens can take control of their claim, colleagues can better assist them, and mutual trust can grow.
      </p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h3 class="govuk-heading-l">
        Projects
      </h3>
      <ul class="govuk-list">
        <li>
          <a href="/claim-closure">Claim Closure</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
